WebContent/wsdl/Testing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Web" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Web" xmlns:intf="http://Web" xmlns:tns1="http://xml" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Web" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml"/>
   <element name="getInteractionsWithMedicaments">
    <complexType>
     <sequence>
      <element name="idMedico" type="xsd:string"/>
      <element name="peso" type="xsd:int"/>
      <element name="edad" type="xsd:int"/>
      <element name="sexo" type="xsd:string"/>
      <element maxOccurs="unbounded" name="medicaciones" type="xsd:string"/>
      <element maxOccurs="unbounded" name="conditions" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInteractionsWithMedicamentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getInteractionsWithMedicamentsReturn" type="tns1:EventoInteraccionMedicamentosa"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_EventoAmbiguedad">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:EventoAmbiguedad"/>
    </sequence>
   </complexType>
   <element name="getInteractionsWithProblems">
    <complexType>
     <sequence>
      <element name="idMedico" type="xsd:string"/>
      <element name="peso" type="xsd:int"/>
      <element name="edad" type="xsd:int"/>
      <element name="sexo" type="xsd:string"/>
      <element maxOccurs="unbounded" name="medicaciones" type="xsd:string"/>
      <element maxOccurs="unbounded" name="conditions" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInteractionsWithProblemsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getInteractionsWithProblemsReturn" type="tns1:EventoInteraccionCondicion"/>
     </sequence>
    </complexType>
   </element>
   <element name="setSugerencia">
    <complexType>
     <sequence>
      <element name="idMedico" type="xsd:string"/>
      <element name="idManfar" type="xsd:string"/>
      <element name="codigo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setSugerenciaResponse">
    <complexType/>
   </element>
   <element name="getDoseEvents">
    <complexType>
     <sequence>
      <element name="idMedico" type="xsd:string"/>
      <element name="peso" type="xsd:int"/>
      <element name="edad" type="xsd:int"/>
      <element name="sexo" type="xsd:string"/>
      <element maxOccurs="unbounded" name="medicaciones" type="xsd:string"/>
      <element maxOccurs="unbounded" name="conditions" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDoseEventsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDoseEventsReturn" type="tns1:EventoDosificacion"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Web"/>
   <complexType name="EventoAmbiguedad">
    <sequence>
     <element name="codigo" nillable="true" type="xsd:string"/>
     <element name="idMedicamento" nillable="true" type="xsd:string"/>
     <element name="nombreMedicamento" nillable="true" type="xsd:string"/>
     <element name="resumen" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EventoInteraccionMedicamentosa">
    <sequence>
     <element name="ambiguedad" nillable="true" type="impl:ArrayOf_tns1_EventoAmbiguedad"/>
     <element name="explicacion" nillable="true" type="xsd:string"/>
     <element name="gravedad" nillable="true" type="xsd:string"/>
     <element name="gravedadPalabra" nillable="true" type="xsd:string"/>
     <element name="idDrogaMed1" nillable="true" type="xsd:string"/>
     <element name="idDrogaMed2" nillable="true" type="xsd:string"/>
     <element name="idmanfarMed1" nillable="true" type="xsd:string"/>
     <element name="idmanfarMed2" nillable="true" type="xsd:string"/>
     <element name="nombreDrogaMed1" nillable="true" type="xsd:string"/>
     <element name="nombreDrogaMed2" nillable="true" type="xsd:string"/>
     <element name="nombreMed1" nillable="true" type="xsd:string"/>
     <element name="nombreMed2" nillable="true" type="xsd:string"/>
     <element name="presentacionMed1" nillable="true" type="xsd:string"/>
     <element name="presentacionMed2" nillable="true" type="xsd:string"/>
     <element name="tratamiento" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EventoInteraccionCondicion">
    <sequence>
     <element name="ambiguedad" nillable="true" type="impl:ArrayOf_tns1_EventoAmbiguedad"/>
     <element name="idcondicion" nillable="true" type="xsd:string"/>
     <element name="iddroga" nillable="true" type="xsd:string"/>
     <element name="nombrecondicion" nillable="true" type="xsd:string"/>
     <element name="nombredroga" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EventoDosificacion">
    <sequence>
     <element name="ambiguedad" nillable="true" type="impl:ArrayOf_tns1_EventoAmbiguedad"/>
     <element name="consecuencia" nillable="true" type="xsd:string"/>
     <element name="dosismaxima" nillable="true" type="xsd:string"/>
     <element name="dosisrecetada" nillable="true" type="xsd:string"/>
     <element name="explicacion" nillable="true" type="xsd:string"/>
     <element name="idDroga" nillable="true" type="xsd:string"/>
     <element name="nombreDroga" nillable="true" type="xsd:string"/>
     <element name="tipoalerta" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getInteractionsWithProblemsResponse">

      <wsdl:part element="impl:getInteractionsWithProblemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInteractionsWithMedicamentsResponse">

      <wsdl:part element="impl:getInteractionsWithMedicamentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInteractionsWithProblemsRequest">

      <wsdl:part element="impl:getInteractionsWithProblems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInteractionsWithMedicamentsRequest">

      <wsdl:part element="impl:getInteractionsWithMedicaments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDoseEventsResponse">

      <wsdl:part element="impl:getDoseEventsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDoseEventsRequest">

      <wsdl:part element="impl:getDoseEvents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setSugerenciaRequest">

      <wsdl:part element="impl:setSugerencia" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setSugerenciaResponse">

      <wsdl:part element="impl:setSugerenciaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Testing">

      <wsdl:operation name="getInteractionsWithMedicaments">

         <wsdl:input message="impl:getInteractionsWithMedicamentsRequest" name="getInteractionsWithMedicamentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInteractionsWithMedicamentsResponse" name="getInteractionsWithMedicamentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInteractionsWithProblems">

         <wsdl:input message="impl:getInteractionsWithProblemsRequest" name="getInteractionsWithProblemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInteractionsWithProblemsResponse" name="getInteractionsWithProblemsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSugerencia">

         <wsdl:input message="impl:setSugerenciaRequest" name="setSugerenciaRequest">

       </wsdl:input>

         <wsdl:output message="impl:setSugerenciaResponse" name="setSugerenciaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDoseEvents">

         <wsdl:input message="impl:getDoseEventsRequest" name="getDoseEventsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDoseEventsResponse" name="getDoseEventsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestingSoapBinding" type="impl:Testing">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getInteractionsWithMedicaments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInteractionsWithMedicamentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInteractionsWithMedicamentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInteractionsWithProblems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInteractionsWithProblemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInteractionsWithProblemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSugerencia">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSugerenciaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setSugerenciaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDoseEvents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDoseEventsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDoseEventsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestingService">

      <wsdl:port binding="impl:TestingSoapBinding" name="Testing">

         <wsdlsoap:address location="http://localhost:8080/TestWSDL/services/Testing"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
